@model List<Assistant.Models.MongoDBProdList>
@{ ViewData["Title"] = "Wczytaj Liste"; }

<div class="row">
    <div class="col-8">
        <h4>Listy do wczytania</h4>
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Main_menu", "Home")'" value="Wroc" style="margin-bottom:3px; width:60px; margin-left:10%;" />
    </div> 
</div>

    <div class="accordion" id="accordionExample">
        @{int k = 0;}

        @foreach (var list in Model)
        {
<div class="card-header" id="headingOne_@k">

    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne_@k" aria-expanded="true" aria-controls="collapseOne">

        @list.Name

    </button>

</div>
                <div class="row">
                    <form asp-controller="Home" asp-action="Edit_List" method="post">
                        <input type="hidden" name="Id" value="@list.Id.ToString()" />
                        <button class="btn btn-primary" style="margin-bottom:3px; width:100px;height:30px; margin-left:15px">Edytuj</button>
                    </form>

                    <form asp-controller="Home" asp-action="DeleteList" method="post">
                        <input type="hidden" name="Id" value="@list.Id.ToString()" />
                        <button class="btn btn-primary" style="margin-bottom:3px; width:100px; height:30px; margin-left:20px">Usuń</button>
                    </form>

                    <form asp-controller="Home" asp-action="ShoppingView" method="post">
                        <input type="hidden" name="Id" value="@list.Id.ToString()" />
                        <button class="btn btn-primary" onclick="GetListId(72)" style="margin-bottom:3px; width:100px;height:30px; margin-left:20px">Wybierz</button>
                    </form>
                </div>

                      <div class="row mt-1"></div>
                                <div class="card">
                                    @foreach (var item in list.ProductList)
                                    {
                    <div id="collapseOne_@k" class="collapse" aria-labelledby="headingOne_@k" data-parent="#accordionExample">
                        <div class="card-body">

                            @item.Name

                        </div>
                    </div>}
                                </div>k++;
                            }
    </div>

    <script>
        function GetListId(Id) {
            localStorage.setItem("IdSelectedList", Id);
            sessionStorage.setItem("IdSelectedList", Id);
        }
    </script>

