@model Assistant.Models.similarity.PropositionList

<div class="row">
    <div class="col-8">
        <div class="lead">
            <h2>Lista propozycji</h2>
        </div>
    </div>

    <div class="col-3">
        <div class="spinner-border text-primary" role="status" id="spinnerAddingProd" style="padding:15px;margin-left:5px">
            <span class="sr-only">Wczytywanie...</span>
        </div>
    </div>
</div>
<div class="row mt-3"></div>
<div class="container">
    <div class="row">
        <div class="col-9 left_bg">
            <div class="lead">
                <b>Propozycje oparte o Podobieństwo Jaccarda</b>
            </div>
        </div>

        <div class="col-3 text-center right_bg" id="RefreshJaccard">
            <button type="submit" id="RefreshProductsJaccard" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="col-3 text-center" id="RefreshJaccardSpinner" style='display:none;'>
            <div class="spinner-border text-primary" role="status" >
                <span class="sr-only">Wczytywanie...</span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3"></div>
@foreach (var item in Model.JaccardProducts)
{
    <div class="row">
        <div class="col-8">
            @item.Name
        </div>

        <div class="col-3">
            <div class="col-3">
                <button type="submit" class="btn btn-primary AddProduct" value="@item.Name">Dodaj</button>
            </div>
        </div>
    </div>
    <div class="row mt-3"></div>
}
<div class="row mt-3"></div>

<div class="container">
    <div class="row">
        <div class="col-9 left_bg">
            <div class="lead">
                <b>Propozycje oparte o Dystans Euklidesa</b>
            </div>
        </div>


        <div class="col-3 text-center right_bg" id="RefreshEuclidean">
            <button type="submit" id="RefreshProductsEuclidean" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="col-3 text-center" id="RefreshEuclideanSpinner" style='display:none;'>
            <div class="spinner-border text-primary" role="status" >
                <span class="sr-only">Wczytywanie...</span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3"></div>
@foreach (var item in Model.EuclideanProducts)
{
    <div class="row">
        <div class="col-8">
            @item.Name
        </div>

        <div class="col-3">
            <div class="col-3">
                <button type="submit" class="btn btn-primary AddProduct" value="@item.Name">Dodaj</button>
            </div>
        </div>
    </div>
    <div class="row mt-3"></div>
}
<div class="row mt-3"></div>


@if (Model.AssociationProducts != null)
{
    <div class="container">
        <div class="row">
            <div class="col-9 left_bg">
                <div class="lead">
                    <b>Propozycje oparte o Regułę Asocjacji</b>
                </div>
            </div>


            <div class="col-3 text-center right_bg" id="RefreshAssociation">
                <button type="submit" id="RefreshProductsAssociation" class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="col-3 text-center" id="RefreshAssociationSpinner" style='display:none;'>
                <div class="spinner-border text-primary" role="status" >
                    <span class="sr-only">Wczytywanie...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3"></div>

    @foreach (var item in Model.AssociationProducts)
    {
        <div class="row">
            <div class="col-8">
                @item.Name
            </div>

            <div class="col-3">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary AddProduct" value="@item.Name">Dodaj</button>
                </div>
            </div>
        </div>
        <div class="row mt-3"></div>
    }
    <div class="row mt-3"></div>
}




<div class="container">
    <div class="row">
        <div class="col-9 left_bg">
            <div class="lead">
                <b>Propozycje oparte o Algorytm Łączący</b>
            </div>
        </div>


        <div class="col-3 text-center right_bg" id="RefreshCaran">
            <button type="submit" id="RefreshProductsCaran" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="col-3 text-center" id="RefreshCaranSpinner" style='display:none;'>
            <div class="spinner-border text-primary" role="status" >
                <span class="sr-only">Wczytywanie...</span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3"></div>
@foreach (var item in Model.CaranProducts)
{
    <div class="row">
        <div class="col-8">
            @item.Name
        </div>

        <div class="col-3">
            <div class="col-3">
                <button type="submit" class="btn btn-primary AddProduct" value="@item.Name">Dodaj</button>
            </div>
        </div>
    </div>
    <div class="row mt-3"></div>
}
<div class="row mt-3"></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script>

    $('#spinnerAddingProd').hide();
    $(document).ready(function () {
        $(".AddProduct").click(function () {
            $('#spinnerAddingProd').show();
            var prodName = $(this).attr('value');
            console.log(prodName);
                var id = $(this).closest("container");
                console.log(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddProduct", "Home")',
                dataType:"text",
                data: { prodName: prodName },
                error: function (err) {
                    console.log(err)
                },
                success: function () {
                    $("#ProdList").load("/Home/ProductList");
                    $('#spinnerAddingProd').hide();
                }
            })
        });
    });


        //Jaccard
            $(document).ready(function () {
                $("#RefreshProductsJaccard").click(function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PropositionOfProducts", "Home")',
                        dataType: "text",
                        error: function (err) {
                            console.log(err)
                        },
                        data: { refreshId: 1},
                        beforeSend: function () {
                            $('#RefreshJaccard').hide();
                            $('#RefreshJaccardSpinner').show();
                        },
                        success: function (data) {
                            console.log(data);
                            $("#propositions").html(data);
                            $('#RefreshJaccardSpinner').hide();
                            $('#RefreshJaccard').show();
                        },
                        complete: function () {
                        },
                    })
                    })
            })

        //Euclidean
                    $(document).ready(function () {
                    $("#RefreshProductsEuclidean").click(function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PropositionOfProducts", "Home")',
                        dataType: "text",
                        error: function (err) {
                            console.log(err)
                        },
                        data: { refreshId: 2},
                        beforeSend: function () {
                            $('#RefreshEuclidean').hide();
                            $('#RefreshEuclideanSpinner').show();
                        },
                        success: function (data) {
                            console.log(data);
                            $("#propositions").html(data);
                            $('#RefreshEuclideanSpinner').hide();
                            $('#RefreshEuclidean').show();
                        },
                        complete: function () {
                        },
                    })
                    })
                    })

    //Association
                        $(document).ready(function () {
                    $("#RefreshProductsAssociation").click(function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PropositionOfProducts", "Home")',
                        dataType: "text",
                        error: function (err) {
                            console.log(err)
                        },
                        data: { refreshId: 4},
                        beforeSend: function () {
                            $('#RefreshAssociation').hide();
                            $('#RefreshAssociationSpinner').show();
                        },
                        success: function (data) {
                            console.log(data);
                            $("#propositions").html(data);
                            $('#RefreshAssociationSpinner').hide();
                            $('#RefreshAssociation').show();
                        },
                        complete: function () {
                        },
                    })
                    })
                        })

    //Caran
                        $(document).ready(function () {
                    $("#RefreshProductsCaran").click(function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PropositionOfProducts", "Home")',
                        dataType: "text",
                        error: function (err) {
                            console.log(err)
                        },
                        data: { refreshId: 3},
                        beforeSend: function () {
                            $('#RefreshCaran').hide();
                            $('#RefreshCaranSpinner').show();
                        },
                        success: function (data) {
                            console.log(data);
                            $("#propositions").html(data);
                            $('#RefreshCaranSpinner').hide();
                            $('#RefreshCaran').show();
                        },
                        complete: function () {
                        },
                    })
                    })
            })
</script>

<style>
    .container {
        display: grid;
    }

    .left_bg,
    .right_bg {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>






















@*<div class="row">
        <div class="col-8">
            <div class="lead">
                <b>Propozycje oparte o Dystans Euklidesa</b>
            </div>
        </div>

        <div class="col-3">
            <button type="submit" id="RefreshProductJaccard" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
    @foreach (var item in Model.EuclideanProducts)
    {
        <div class="row">
            <div class="col-8">
                @item.Name
            </div>

            <div class="col-3">
                <div class="spinner-border text-primary" role="status" id="buttonAddJaccardProd" style="padding:15px;margin-left:5px">
                </div>
            </div>
        </div>
    }
    <div class="row mt-3"></div>



    @if (Model.AssociationProducts.Count > 0)
    {
        <div class="row">
            <div class="col-8">
                <div class="lead">
                    <b>Propozycje oparte o Regułę Asocjacji</b>
                </div>
            </div>

            <div class="col-3">
                <button type="submit" id="RefreshProductJaccard" class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
        @foreach (var item in Model.AssociationProducts)
        {
            <div class="row">
                <div class="col-8">
                    @item.Name
                </div>

                <div class="col-3">
                    <div class="spinner-border text-primary" role="status" id="buttonAddJaccardProd" style="padding:15px;margin-left:5px">
                    </div>
                </div>
            </div>
        }
    }
    <div class="row mt-3"></div>



    <div class="row">
        <div class="col-8">
            <div class="lead">
                <b>Propozycje oparte o Algorytm łączący</b>
            </div>
        </div>

        <div class="col-3">
            <button type="submit" id="RefreshProductJaccard" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
    @foreach (var item in Model.CaranProducts)
    {
        <div class="row">
            <div class="col-8">
                @item.Name
            </div>

            <div class="col-3">
                <div class="spinner-border text-primary" role="status" id="buttonAddJaccardProd" style="padding:15px;margin-left:5px">
                </div>
            </div>
        </div>
    }*@
